.block-views-blockview-projects-block-1{
    text-transform: uppercase;
    margin-top: 106px;
    font-family: 'Avenir LT Pro';
    &>h2{
        @include alingnment;
        text-align: center;
        font-size: 1.75rem;
        display: flex;
        gap: 10px;
        &::before,
        &::after{
            @include line-title;

        }
    }
    &>div:last-child{
        margin-top: 18px;
        padding-top: 69px;
        background: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.1), #fff 3px, #fff 10px, #fff 0px);
    }
    .view-view-projects{
        @include alingnment;
        a{
            text-decoration: none;
        }
        .view-content{
            text-align: center;
            .views-col{
                border-bottom: 1px solid #373645;
                padding-bottom: 12px;
                background-color: #fff;
                width: fit-content !important;
                margin-left: 20px;
            }
            .col-1{
                .views-field.views-field-field-projects-link{
                    a{
                        color: #1BBC9B;
                    }
                }
            }
            .col-2{
                .views-field.views-field-field-projects-link{
                    a{
                        color: #9B58B5;
                    }
                }
            }
            .col-3{
                .views-field.views-field-field-projects-link{
                    a{
                        color: #E84C3D;
                    }
                }
            }
            .col-4{
                margin-right: 0;
                .views-field.views-field-field-projects-link{
                    a{
                        color: #32ADE1;
                    }
                }
            }
            .views-field.views-field-title{
                margin: 32px 0 3px;
                a{
                    font-size: 1.5rem;
                    text-decoration: none;
                    color: #000;
                }
            }
            .views-field-view-node{
                span{
                    display: inline-block;
                    margin-top: 17px;
                    background-color: #373645;
                    //width: 98px;
                    //margin: 0 auto;
                    padding: 3px 0;
                    border-radius: 3px;
                    a{
                        color: #fff;
                        padding: 6px 10px;
                    }
                }
            }
            @media (max-width:1260px) {
                .views-col{
                    width: 22% !important;
                    border-bottom: none;
                    background-color: transparent;
                    .views-field.views-field-title{
                        a{
                            font-size: 1.3rem;
                        }
                    }
                }
            }
            @media (max-width:950px) {
                .views-col{
                    display: block;
                    width: 46% !important;
                    margin-bottom: 20px;
                    border-bottom: none;
                    background-color: transparent;
                }
            }
            @media (max-width:520px) {
                .views-col{
                    width: 98% !important;
                    margin-left: 0;
                }
            }
        }
        nav{
            ul.pagination{
                gap: 10px;
                margin-top: 40px;
                li a{
                    border-radius: 20px;
                    color: #646464;
                    &:hover{
                        color: #fff;
                    }
                    
                }
                .page-item.active .page-link{
                    background-color: #646464;
                    border-color: transparent;
                    color: #fff;
                }
                .page-item .page-link{
                    &:hover{
                        background-color: #646464;
                    }
                }
                .page-link{
                    background-color: transparent;
                    border: none;
                }
                li.disabled{
                    display: none;
                }
            }
        }
    }
    
}